@import "tailwindcss";

@theme {
  --font-sans: Manrope;
  --color-primary: #333b69;
  --color-secondary: #718ebf;
  --color-light: #e8f4ff;
  --color-dark: #232323;
  --color-orange: #ff772f;
  --color-ssindex-poor: #ff3e32;
  --color-ssindex-low: #f7941c;
  --color-ssindex-average: #ffce29;
  --color-ssindex-good: #97cc3e;
  --color-ssindex-excellent: #2fb14c;
  --color-ssindex-no-data: #d6d6d6;
  --color-ssindex-card-blue: #4880ff;
  --color-ssindex-graph-grey: #848484;
  --color-ssindex-graph-blue: #0069c0;
  --color-ssindex-graph-light-blue: #bfeeff;
  --color-ssindex-graph-purple: #ab3ed8;
  --color-ssindex-table-header-gray: #f1f4f9;
  --color-ssindex-background-color: #f2f2f2;
  --color-ssindex-footer-text: #a3aed0;
  --color-ssindex-nested-table-background: #f7f7f7;
  --color-white: #ffffff;
}

/* @theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
